$imgH: 300px;
$imgArea: 400px;

.culture-wrap {
  #culture-main {
    position: relative;
    background-color: $black;
    color: white;
    text-align: center;
    overflow: hidden;
    padding: 180px 40px 300px;
    @include media('<desktop') {
      padding-top: 80px;
      padding-bottom: 80px;
    }  
    .culture-message {
      position: relative;
      z-index: 8;
    }
    h1 {
      max-width: 970px;
      margin: 0 auto;
      margin-bottom: 194px;
      font-size: 92px;
      letter-spacing: 0.02em;
      @include media('<desktop') {
        font-size: 30px;
        margin-bottom: 40px;
      }        
    }
    p {
      max-width: 550px;
      margin: 0 auto;
      margin-bottom: 115px;
      @include media('<desktop') {
        margin-bottom: 40px;
      }        
    }
    h3 {
      max-width: 640px;
      margin: 0 auto;
      margin-bottom: 50px;
      @include media('<desktop') {
        font-size: 30px;
        margin-bottom: 40px;
      }            
    }
    .mobile-image {
      display: none;
      max-width: 750px;
      margin: 0 auto;
      margin-bottom: 50px;
      @include media('<desktop') {
        display: block;
      }      
      video,
      img {
        width: 100%;
        height: auto;
      }
    }
    .jobs-link {
      color: $white;
    }
    .culture-image-data {
      position: relative;
      width: 100%;

      .column-1, .column-2 {
        width: 50%;
        float: left;
        // background-color: purple;
        .inner-col {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          &:nth-last-of-type(2) {
            //background-color: seagreen;
          }
        }
      }
      .column-2 {
        //background-color: rebeccapurple;
        text-align: right;
        .inner-col {
          flex-wrap: wrap-reverse;

          &:nth-last-of-type(2) {
            //background-color: orangered;
          }
        }        
      }

    }
    .culture-images {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      @include media('<desktop') {
        display: none;
      }        
    }
    .culture-item {
      max-height: 400px;
      width: auto;
      margin: 10% 20px;
      display: block;
      align-self: baseline;
      @include media('<desktop') {
        display: none;
      }        
    }
    .culture-image {
      position: absolute;
      z-index: 1;
      @include media('<desktop') {
        display: none;
      }            
      .vid-holder,
      .img-holder {
        display:none; 
        position: absolute;
        left: 0;
        top: 0;
        height: 100%; 
        width: 100%; 
        object-fit: contain;
      }
      &.img-1 {
        top: $imgArea * 0.5;
        left: 0;
      }
      &.img-2 {
        top: $imgArea * 0.7;
        right: 0;
      }    
      &.img-3 {
        top: $imgArea * 1.5;;
        left: 0;
      }
      &.img-4 {
        top: $imgArea * 1.7;;
        right: 0;
      } 
      &.img-5 {
        top: $imgArea * 2.5;;
        left: 0;
      }
      &.img-6 {
        top: $imgArea * 2.7;;
        right: 0;
      }    
      &.img-7 {
        top: $imgArea * 3.5;;
        left: 0;
      }
      &.img-8 {
        top: $imgArea * 3.7;;
        right: 0;
      } 
      &.img-9 {
        top: $imgArea * 4.5;;
        left: 0;
      }
      &.img-10 {
        top: $imgArea * 4.7;;
        right: 0;
      }    
      &.img-11 {
        top: $imgArea * 5.5;;
        left: 0;
      }           
    }
  }
}