// ---------------------------------------------------------===
// Homepage styles
// ---------------------------------------------------------===
.nav-hero {
    padding-top: 69px;
    display: table;
    width: 100%;
    min-height: 640px;
    height: 100vh;
    position: relative;
    @include media('<tablet') {
        min-height: 340px;
    }
    &-content {
        // padding: 0 15px 55px;
        padding: 30px 15px 55px;
        display: table-cell;
        vertical-align: middle;
        @include media('<tablet') {
            padding: 30px 15px;
        }
        >.bg-stretch {
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .bg-stretch {
        z-index: -2;
    }
    .nav-links {
        display: inline-block;
        vertical-align: middle;
        .nav-link {
            // font: 500 60px/1 $recife;
            font: 500 96px/1 $recife;
            margin: 0 0 10px;
            @include media('<tablet') {
                font-size: 72px;
            }
            &:hover {
                a {
                    color: $blue;
                }
                .bg-stretch {
                    opacity: 1;
                    z-index: -1;
                    transition: opacity 0.3s ease;
                }
            }
            a {
                display: block;
                color: $black;
                will-change: transform;
                transition: color 0.15s ease-out;
                &:focus,
                &:hover {
                    text-decoration: none;
                }
            }
            .bg-stretch {
                opacity: 0;
                will-change: opacity;
                transition: opacity 0.3s ease 0.2s;
            }
        }
    }
}

.video-wrap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    .video {
        position: relative;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
}

header {
    &.hp-white-text {
        .nav-opener {
            span,
            &:after,
            &:before {
                background: $white;
            }
        }
        svg {
            fill: white;
        }
        nav.nav-pannel .nav li {
            a {
                color: white;
                &:after {
                    border-top-color: $white;
                }
            }
        }
    }
}

.hp-slider {
    position: relative;
    height: 100vh;
    .slick-next {
        width: 25%;
        height: 160vh;
        right: 0;
        z-index: 1;
        top: 30px;
        &:hover {
            cursor: url('data:image/svg+xml;utf8,<svg width="40" height="20" viewBox="0 0 40 20" fill="none" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 10H38" stroke="black" stroke-width="1.5" /> <path d="M25.5 19L38.5 10L25.5 1" stroke="black" stroke-width="1.5"/> </svg> '), auto;

        }
        &.white {
            &:hover {
                cursor: url('data:image/svg+xml;utf8,<svg width="40" height="20" viewBox="0 0 40 20" fill="none" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 10H38" stroke="white" stroke-width="1.5" /> <path d="M25.5 19L38.5 10L25.5 1" stroke="white" stroke-width="1.5"/> </svg> '), auto;

            }
        }
        &:before {
            content: unset;
        }
        @include media('<tablet') {
            display: none;
        }
    }
    .slick-prev {
        width: 25%;
        height: 150vh;
        left: 0;
        z-index: 1;
        top: 0;
        &:hover {
            cursor: url('data:image/svg+xml;utf8,<svg width="41" height="20" viewBox="0 0 41 20" fill="none" xmlns="http://www.w3.org/2000/svg">
 <path d="M40.5 10H2.5" stroke="black" stroke-width="1.5"/> <path d="M15 19L2 10L15 1" stroke="black" stroke-width="1.5"/> </svg>'), auto;

        }
        &.white {
            &:hover {
                cursor: url('data:image/svg+xml;utf8,<svg width="41" height="20" viewBox="0 0 41 20" fill="none" xmlns="http://www.w3.org/2000/svg">
 <path d="M40.5 10H2.5" stroke="white" stroke-width="1.5"/> <path d="M15 19L2 10L15 1" stroke="white" stroke-width="1.5"/> </svg>'), auto;

            }
        }
        &:before {
            content: unset;
        }
        @include media('<tablet') {
            display: none;
        }
    }
    .slick-dots {
        position: unset;
        bottom: unset;
        right: unset;
        padding: 0;
        width: auto;
        text-align: right;
        max-width: 1330px;
        margin: 0 auto;
        margin-top: -14vh;
        padding: 0 1rem;
        @include media('<tablet') {
            width: 100%;
            margin-top: -10vh;
            text-align: center;
        }
        span {
            font-size: 14px;
            line-height: 2;
        }
        &.white {
            li {
                &.slick-active {
                    border-bottom-color: $white;
                }
                span {
                    color: white;
                }
            }
        }
        li {
            height: auto;
            width: auto;
            padding: 0 5px;
            &.slick-active {
                border-bottom: 1px solid $black;
            }
        }
    }
    .hp-slide {
        height: 100vh;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        h2 {
            font-size: 30px;
            margin-bottom: 10px;
            @include media('<tablet') {
                font-size: 25px;
            }
        }
        h3 {
            font-size: 30px;
            font-style: italic;
            margin-bottom: 0;
            line-height: 1;
            @include media('<tablet') {
                margin-bottom: 10px;
                font-size: 25px;
            }
        }
        .container {
            width: 100%;
            margin-top: -20vh;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            @include media('<tablet') {
                margin-top: -24vh;
            }
        }
        &-text-white {
            color: white;
        }
        &-text-shadow {
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        }
        &.slick-slide {
            img {
                width: 100%;
                object-fit: cover;
                height: 100vh;
            }
        }
        video {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }
}

.mobile-img,
.mobile-vid {
    display: none;
}