// ---------------------------------------------------------===
// work styles
// ---------------------------------------------------------===

.work-section {
    padding-bottom: 70px;

    @include media('<=tablet') {
        padding-bottom: 0;
    }

    .full-btn {
        .btn-wrap {
            @include media('>tablet') {
                width: 50%;
                margin-left: 30%;
            }

            @include media('>=desktop') {
                margin-left: 330px;
            }
        }
    }
}

.work-animated-background{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    backface-visibility: hidden;
}

.work-list {
    padding-bottom: 55px;

    @include media('<=tablet') {
        padding-bottom: 20px;
    }

    .work-wrap{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & + .work-wrap{
        }
    }

    .work-item{

        &.hidden{
          display: none;
        }

        @include media('<=tablet') {
            height: auto !important;
        }
    }
    .work {
        display: flex;
        padding-top: 20px;

        @include media('<desktop') {
            align-items: center;
        }

        @include media('<=tablet') {
            position: relative;
            flex-flow: column;
        }

        @include media('>tablet') {
            will-change: opacity;
            .desc,
            .work-video-wrap{
                will-change: opacity;
                opacity: 0;
                transition: opacity 1s ease;
            }
            &.is-appeared{
                .desc,
                .work-video-wrap {
                    opacity: 1;
                }
            }
        }
        &[data-position="left"]{
            @include media('>tablet') {
            }
        }

        .desc {
            width: 330px;
            padding: 51px 20px 13px 0;
            order: 0;

            @include media('>tablet') {
                display: flex;
                flex-direction: column;
            }

            @include media('<desktop') {
                width: auto;
                flex: 0 1 30%;
                padding: 0 1.5rem 0 0;

                h2 {
                    font-size: 32px;
                }
            }

            @include media('<=tablet') {
                width: 100%;
                max-width: 100%;
                padding: 0;
                margin: 0 0 20px;
                order: 2;

                h2 {
                    font-size: 48px;
                }
            }

            .logo {
                margin: 0 0 25px;

                @include media('<=tablet') {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 90px;
                    height: 46px;
                    display: flex;
                    align-items: flex-end;
                }
            }

            .work-cat {
                margin-bottom: 19px;

                @include media('<=tablet') {
                    font-size: 20px;
                    margin-bottom: 12px;
                }
            }

            h2 {
                cursor: pointer;
                margin-bottom: 23px;

                @include media('<=tablet') {
                    margin-bottom: 40px;
                    max-width: 100%;
                }
            }

            .link-hold {
                margin: 0 0 65px;

                @include media('<widescreen') {
                    margin: 0 0 20px;
                }
            }

            h6 {
                font-weight: 900;
                font-size: 14px;
                margin-bottom: 14px;

                @include media('<=tablet') {
                    margin-bottom: 8px;
                    width: 100%;
                }
            }

            .work-services {
                @include media('>tablet') {
                    margin-top: auto;
                    margin-bottom: 29px;
                }

                @include media('<=tablet') {
                    max-width: 400px;
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            .service-list {
                @extend %listreset;
                font-size: 14px;
                padding-right: 10px;

                @include media('<=tablet') {
                    font-size: 12px;
                    width: 50%;
                }

                li {
                    margin-bottom: 3px;

                    @include media('<=tablet') {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .work-video-wrap {
            position: relative;
            width: 100%;
            max-width: 970px;
            min-width: 510px;
            padding-top: 52.308%;
            height: 0;
            overflow: hidden;
            flex: 1;

            @include media('<=tablet') {
                padding-top: 70.308%;
                order: 1;
                margin: 0 0 34px;
            }

            .work-video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
            }
        }

        .img {
            position: relative;
            flex: 1;
            order: 1;
            cursor: pointer;
            @include aspect-ratio-const(970, 580);

            @include media('<=tablet') {
                margin: 0 0 34px;
                order: 1;
            }

            &:before {
                padding-top: 69.793814%;
            }
        }
    }
}

.work-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: $blue;
    opacity: 0;
    will-change: transform;
}

.work-temp{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.work-list-alt {
    .work {
        margin: 0 0 68px;

        @include media('<tablet') {
            margin: 0 0 40px;
        }

        .visual {
            position: relative;
            height: 580px;
            padding: 31px 25px;
            display: table;
            table-layout: fixed;
            width: 100%;
            margin: 0 0 22px;

            @include media('<desktop') {
                height: 400px;
            }

            .v-align {
                display: table-footer-group;
                height: 1%;
            }

            .bg-stretch {
                z-index: -1;
            }

            h2 {
                width: 600px;
                margin: 0;
                font-size: 110px;

                @include media('<desktop') {
                    font-size: 70px;
                    width: auto;
                }

                @include media('<tablet') {
                    font-size: 45px;
                }
            }
        }

        .desc {

            h3 {
                font-weight: 400;
                margin: 0 0 5px;
                line-height: 1;
            }

            h4 {
                margin: 0;
            }

            .work-services {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                @include media('<tablet') {
                    max-width: 400px;
                }
            }

            .link-u {
                display: inline-block;
                vertical-align: top;

                @include media('<tablet') {
                    margin: 0 0 15px;
                }
            }

            .service-list {
                @extend %listreset;
            }
        }
    }
}

.work-img-list {
    .work-img {
        margin: 0 0 30px;

        &.align-right {
            text-align: right;
        }

        &.align-center {
            text-align: center;
        }
    }
}


.banner {
    position: relative;
    z-index: 1;
    min-height: 640px;
    transform: translateZ(0);
    backface-visibility: hidden;

    @include media('<widescreen') {
        min-height: 500px;
    }

    &.sm {
        min-height: 500px;

        @include media('<tablet') {
            min-height: 300px;
        }
    }
}

.bg-yellow {
    background: $yellow;
}

.case-study-intro {
    padding: 31px 0 70px;

    @include media('<tablet') {
        padding: 30px 0 50px;
    }

    &.bg-yellow {
        margin: 0 0 122px;

        @include media('<desktop') {
            margin: 0 0 75px;
        }

        @include media('<tablet') {
            margin: 0 0 72px;
        }
    }

    .tag-line{
        max-width: 550px;
    }

    h1 {
        margin: 0 0 40px;

        @include media('<tablet') {
            margin: 0 0 22px;
        }
    }

    h3 {
        line-height: 1.1;
        font-weight: 400;

        @include media('<tablet') {
            margin: 0 0 32px;
        }
    }

    h4 {
        margin: 0;
    }

    p {
        @include media('<tablet') {
            margin: 0 0 26px;
        }
    }
}

.info-lists {
    @include media('<tablet') {
        margin-bottom: 26px;
    }
}

.info-list {
    @extend %listreset;
}

.case-study-content {
    .row {
        margin: 0 0 130px;

        @include media('<desktop') {
            margin: 0 0 80px;
        }

        @include media('<tablet') {
            margin: 0 0 40px;
        }
    }

    .title-col {
        @include media('<tablet') {
            margin-bottom: 27px;
        }
    }

    h2 {
        margin: 0 0 65px;

        @include media('<desktop') {
            margin: 0 0 40px;
        }

        @include media('<tablet') {
            margin: 0 0 48px;
            font-size: 48px;
        }
    }

    h3 {
        margin: 0;
        line-height: 1.1;
        margin: 0 0 8px;
        font-weight: 400;
    }

    .text-row {
        margin-bottom: 25px;

        @include media('<tablet') {
            margin-bottom: 35px;
        }
    }

    .img-hold {
        text-align: center;
        margin: 0 0 55px;

        @include media('<tablet') {
            margin: 0 0 30px;
        }
    }
}

.testimonial-block {
    padding: 50px 0;
    background: $light-blue;
    margin: 0 0 125px;

    @include media('<desktop') {
        margin: 0 0 80px;
    }

    @include media('<tablet') {
        padding: 43px 30px 34px;
        margin: 0 0 74px;
    }

    blockquote {
        margin: 0;

        q {
            font-size: 32px;
            line-height: 1.125;
            display: block;
            margin: 0 0 20px;

            @include media('<tablet') {
                font-size: 24px;
                line-height: 1.167;
                margin: 0 0 3px;
            }
        }

        cite {
            display: block;
            font-style: normal;
            font-size: 20px;

            @include media('<tablet') {
                font-size: 16px;
            }
        }
    }
}

.link-to-back {
    text-align: center;
    margin: -50px 0 28px;

    @include media('<tablet') {
        margin: 0 0 15px;
    }
}

.media {

    h5 {
        margin: 0;

        @include media('<tablet') {
            font-size: 12px;
        }
    }

    h6 {
        font-size: 14px;
    }

    .title-col {
        @include media('<tablet') {
            margin-bottom: 16px;
        }
    }

    .dl {
        display: flex;
        margin: 0 -10px;
        flex-wrap: wrap;

        .dt, .dd {
            flex: 1 0 50%;
            width: 50%;
            padding: 0 10px;
            font-size: 14px;
            font-weight: 400;

            @include media('<tablet') {
                font-size: 12px;
            }
        }
    }
}

.filter-drop {
    padding: 0 0 61px;

    @include media('<desktop') {
        font-size: 16px;
    }

    @include media('<tablet') {
        padding: 0 0 36px;
        font-size: 14px;
    }

    .col {
        @include media('<tablet') {
            margin: 0 0 40px;
        }
    }

    h5 {
        margin-bottom: 17px;
        text-transform: uppercase;
        letter-spacing: 1.8px;

        @include media('<tablet') {
            margin-bottom: 12px;
        }
    }

    .filter-list {
        @extend %listreset;

        @include media('>=tablet') {
            column-count: 2;
        }

        li {
            margin-bottom: 8px;

            @include media('<tablet') {
                margin-bottom: 12px;
            }
        }
    }
}

[data-filter-val] {
    position: relative;
    text-decoration: none;

    &:focus {
        text-decoration: none;
    }

    &.active, &:hover {
        text-decoration: none;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: $black;
        }
    }
}

.works-all {
    margin-bottom: 71px;

    .img-box {
        position: relative;
        width: 100%;
        @include aspect-ratio(310, 180);

        &:before {
            @include media('<tablet') {
                padding-top: 69.612903%;
            }
        }

        .inner-content {
            background-size: cover;
            background-position: 50% 50%;
        }
    }
  .work-item {

    &.hidden {
      display: none;
    }
  }
}
