#all-work-v2 {
  #work-filter-section {
    background-color: $black;
    padding: 100px 0;
  }
  .top-row {
    color: $white;
    a {
      color: $white;
    }
  }
  .filter-list {
    a {
      color: $white;
    }
  }
  .work-list {
    margin-top: -100px;
  }
}