#all-work-v2 {
    #work-filter-section {
        background-color: $black;
        padding: 150px 0 130px 0;
        margin-bottom: 70px;
        @include media('<tablet') {
            padding-bottom: 60px;
        }
        .filter-drop {
            @include media('>=tablet') {
                padding: 0 1rem;
            }
            @include media('<tablet') {
                padding: 0 1.5rem;
            }
        }
    }
    .filter-toggles {
        h5 {
            &:before {
                content: '+';
            }
            &.active {
                color: $white;
                &:before {
                    content: '-';
                }
            }
        }
    }
    .filter-list {
        a {
            color: $white;
            opacity: 0.5;
            border-bottom: 1px solid transparent;
            font-size: 18px;
            &.active {
                opacity: 1;
                border-bottom: 1px solid white;
            }
        }
    }
    #work-display {
        margin-top: -100px;
        @include media('<tablet') {
            margin-top: -70px;
        }
    }
    .clear-filters {
        color: $white;
        opacity: .5;
        font-size: 14px;
        cursor: pointer;
        span {
            @include media('<tablet') {
                display: none;
            }
        }
        &:before {
            content: 'x';
            border: 1px solid $white;
            border-radius: 11px;
            line-height: 0.5;
            padding: 6px 6px 7px;
            margin: 0;
            position: absolute;
            left: -25px;
            font-size: 14px;
            bottom: 0;
            @include media('<tablet') {
                left: 30px;
                bottom: -20px;
            }
        }
    }
    .top-row {
        color: $white;
        a {
            color: $white;
        }
    }
    .work-list {
        margin-top: -110px;
        .work {
            .work-video-wrap {
                max-width: unset;
                min-width: unset;
            }
        }
    }
}