#all-work-v2 {
    #work-filter-section {
        background-color: $black;
        padding: 150px 0 180px 0;
        @include media('<tablet') {
            padding: 90px 0 110px 0;
        }
        .filter-drop {
            padding: 0 .6rem;
            @include media('<tablet') {
                padding: 0 1rem;
            }
        }
    }
    .filter-toggles {
        h5 {
            cursor: pointer;
            &:before {
                content: '+';
            }
            &.active {
                color: $white;
                &:before {
                    content: '-';
                }
            }
            @include media('<tablet') {
                padding: 0 .5rem;
            }
        }
    }
    .filter-list {
        a {
            color: $white;
            opacity: 0.5;
            border-bottom: 1px solid transparent;
            font-size: 18px;
            &.active {
                opacity: 1;
                border-bottom: 1px solid white;
            }
        }
    }
    #work-display {
        margin-top: -120px;
        @include media('<tablet') {
            margin-top: -60px; //necessary for when filtering 
        }
    }
    .clear-filters {
        color: $white;
        opacity: .5;
        font-size: 13px;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        span {
            line-height: 1.7;
            padding-left: 7px;
            @include media('<tablet') {
                display: none;
            }
        }
    }
    .top-row {
        color: $white;
        a {
            color: $white;
        }
    }
    .work-list {
        margin-top: -110px;
        @include media('>tablet') {
            margin-top: -60px;
        }
        .work {
            .work-video-wrap {
                max-width: unset;
                min-width: unset;
            }
        }
        &.container {
            @include media('>=tablet') {
                padding: 0;
            }
        }
    }
}