// ---------------------------------------------------------===
// Footer styles
// ---------------------------------------------------------===
.cta {
    background: $light-blue;
    padding: 84px 20px 65px;
    position: relative;
    display: block;
    margin-bottom: 40px;
    @include media('<tablet') {
        padding: 130px 16px 116px;
    }
    &:hover {
        text-decoration: none;
    }
    .inner {
        max-width: 470px;
        margin: 0 auto;
        text-align: center;
    }
    h2 {
        font-size: 48px;
        line-height: 1.125;
        margin: 0 0 17px;
        max-width: 470px;
        @include media('<desktop') {
            font-size: 36px;
            line-height: 1;
        }
    }
    h3 {
        @include media('<tablet') {
            font-size: 38px;
            line-height: 1.12;
            margin-bottom: 24px;
        }
    }
    .link-u {
        font-size: 18px;
    }
    a {
        font-size: 20px;
        @include media('<tablet') {
            font-size: 18px;
        }
    }
    &.case-cta {
        background: none;
        color: $white;
        padding-top: 32px;
        @include media('>=tablet') {
            padding-bottom: 20px;
        }
        @include media('<tablet') {
            margin-bottom: 30px;
            padding-top: 16px;
            padding-bottom: 0;
        }
        .bg-img {
            position: relative;
            margin-bottom: 15px;
            cursor: pointer;
            @include aspect-ratio-const(970, 580);
            @include media('<=tablet') {
                margin-bottom: 10px;
            }
        }
        h2 {
            font: 400 36px/1 $messina;
        }
        .link-u {
            color: $white;
        }
        a {
            display: block;
            height: 100%;
            &:hover {
                text-decoration: none;
            }
        }
        .desc {
            h5 {
                color: $black;
                margin: 0;
                font-size: 20px;
                &.work-cat {
                    font-weight: 800;
                    line-height: 1;
                }
            }
        }
    }
    &.white {
        background: $white;
    }
    p {
        position: relative;
        z-index: 1;
    }
}

.cta-row {
    .cta {
        padding: 15px 20px;
        height: 100%;
        min-height: 300px;
        display: block;
        &:hover {
            text-decoration: none;
        }
        @include media('<desktop') {
            min-height: 228px;
        }
        @include media('<tablet') {
            padding: 50px 15px;
        }
    }
    .grid-flex {
        @include media('<tablet') {
            display: block;
        }
    }
    .case-col {
        @include media('>=tablet') {
            order: 2;
        }
    }
}

#footer {
    padding: 30px 0;
    position: relative;
    font-size: 14px;
    line-height: 2.15;
    @include media('<tablet') {
        font-size: 12px;
        line-height: 2;
        padding-top: 0;
    }
    .grid-flex {
        @include media('>=tablet') {
            justify-content: space-around;
        }
    }
    ul {
        @extend %listreset;
        a {
            color: $black;
        }
    }
    .col {
        @include media('<tablet') {
            margin: 0 0 28px;
        }
    }
    .col-sm-2 {
        @include media('>=tablet', '<widescreen') {
            width: 20.83%;
        }
    }
    h5 {
        font-size: 14px;
        font-weight: 900;
        margin-bottom: 0;
        letter-spacing: -.3px;
        color: $black;
        @include media('<tablet') {
            margin-bottom: 9px;
        }
    }
    .links {
        li {
            @include media('>=tablet') {
                font-size: 14px;
            }
            @include media('<tablet') {
                margin-bottom: 2px;
            }
        }
    }
    .foot-links {
        @include media('<tablet') {
            order: 2;
            display: flex;
            justify-content: flex-end;
        }
        .footer-links {
            font-size: 12px;
            line-height: 1.714;
            @include media('<tablet') {
                font-size: 14px;
                padding-right: 20px;
            }
            li {
                margin-bottom: 5px;
                @include media('<tablet') {
                    margin-bottom: 0;
                }
            }
            a {
                color: $black;
            }
        }
    }
    .foot-nav {
        @include media('<tablet') {
            order: 1;
        }
        .footer-nav {
            @include media('>=tablet') {
                padding-top: 9px;
            }
            @include media('<tablet') {
                margin-bottom: 13px;
            }
        }
    }
    .foot-sap {
        @include media('<tablet') {
            order: 3;
            h5 {
                margin-bottom: 0;
            }
            .links {
                li {
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
        }
    }
    .foot-address {
        @include media('<tablet') {
            order: 4;
        }
    }
    .email {
        display: block;
    }
    address {
        font-style: normal;
    }
    .footer-bottom {
        display: flex;
        align-items: flex-end;
        color: #a3a3a6;
        padding: 90px 50px 0;
        @include media('>=tablet') {
            position: relative;
        }
        @include media('<tablet') {
            padding: 0;
        }
        @include media('<375px') {
            padding: 0 46px;
        }
    }
    .logo {
        @include media('<tablet') {
            svg {
                width: 80px;
            }
        }
    }
    .copyright {
        font-size: 14px;
        text-align: center;
        flex: 1;
        @include media('<tablet') {
            padding-top: 0;
            font-size: 12px;
        }
    }
}

.footer-nav {
    @extend %listreset;
    font-size: 20px;
    line-height: 1.51;
    @include media('<tablet') {
        display: none;
    }
    @include media('<phone') {
        column-count: 2;
        column-gap: 14px;
    }
    @include media('<375px') {
        font-size: 18px;
    }
    li {
        margin-bottom: 12px;
        @include media('<tablet') {
            margin-bottom: 13px;
        }
    }
    a {
        color: $black;
    }
}